* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    width: 100%;
    color: #ededed;
    background: #051129;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: rgb(111, 229, 238);
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    cursor: default;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 36px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s calc(0.2s * var(--i));
    transition: 0.5s ease;

}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    background: url(./asset/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 5rem 10%;
}

.home-content {
    max-width: 50%;
}

.home-content h3 {
    font-size: 2.5rem;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.5s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.5s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: -3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.5s;
}

.home-content p {
    font-size: 1rem;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.5s;
}

.social-link a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #0ef;
    margin: 10px 15px 30px 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s calc(0.2s * var(--i));
    transition: 0.5s ease;
}

.social-link a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    justify-content: center;
    align-items: center;
    background: #0ef;
    border-radius: 40px;
    font-size: 1rem;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 1.2s;
}

.btn:hover {
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef,
        0 0 50px #0ef,
        0 0 100px #0ef,
        0 0 200px #0ef;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;
}

.about-img img {
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2 {
    font-size: 3rem;
}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0px;
}

.about-text p {
    color: aliceblue;
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 2rem;
    text-align: justify;
}

.sub-title {
    text-align: center;
    font-size: 3rem;
    margin-top: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: #0ef;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.container-one {
    display: flex;
    flex-wrap: wrap;
}

.skill-container {
    width: 30rem;
    height: 500px;
    padding: 3rem 4rem;
    margin-left: 40px;
}

.heading-one {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 24px;
    margin-top: 16px;
}

.technical-container .bar {
    margin-top: 40px 0;
}

.technical-container.bar:first-child,
.technical-container.bar:last-child {
    margin-top: 0;
}

.info {
    margin-bottom: 2px;
}

.info span {
    font-size: 18px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1, 0, 0, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1, 0, 0, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}


.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 70%;
}

.progress-line.javascript span {
    width: 60%;
}

.progress-line.react span {
    width: 60%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "90%";
}

.progress-line.css span::after {
    content: "70%";
}

.progress-line.javascript span::after {
    content: "60%";
}

.progress-line.react span::after {
    content: "60%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.pro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.redial-bar {
    width: 50%;
    height: 170px;
    margin-top: 10px;
    position: relative;
}

.redial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s linear forwards;
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.skill-text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 40%;
    bottom: -5px;
    transform: translateX(-50px);
    font-weight: 500;
    font-size: 17px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.project-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    padding: 2rem;
    align-items: center;
}

.project-container-content {
    width: 100%;
    height: 400px;
}

.project-container-content iframe {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.project-container.emved {
    width: 100%;
    height: 400px;
    margin-bottom: 60px;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    margin-top: 130px;
}

.contact-text h2 {
    font-size: 3rem;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 1rem 0;
    color: rgb(2828, 2828, 2828);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-top: 2rem;
}

.contact-list {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact-list li {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    transition: all .40s ease;
}

.contact-list li i {
    color: #0ef;
}

.contact-form form {
    position: relative;
}

.contact-form form input {
    width: 100%;
    display: block;
    padding: 1rem;
}

.contact-form form textarea {
    resize: none;
    width: 100%;
    height: 220px;
}

.container.main {
    width: 100%;
    padding: 35px 10%;
}

.container {
    padding-right: calc(10%-30px);
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 35px 10%;
    padding-right: calc(10%-30px);
    gap: 20px;
}

.education-title {
    font-family: "poppins", sans-serif;
    color: #0ef;
    padding: 0px 0px 20px 30px;
}

.edu-content {
    width: 100%;
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}

.education-box {

    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    transition: oll 0.4s;
    margin-bottom: 20px;
}

.education-box:hover {
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}

.education-box::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
}

.education-box h4 {
    font-size: 18px;
    color: #000;
}

.education-box h3 {
    font-size: 24px;
    color: #000;
}

.education-box p {
    font-size: 16px;
    color: #000;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 75;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}






@media only screen and (min-width: 769px) and (max-width: 1020px) {
    /* For screen sizes between 769px and 1020px */

    .container {
        padding-right: 10%;
    }

    .navbar {
        flex-direction: row;
    }

    .navbar a {
        margin: 0 36px;
    }

    .about {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-one {
        flex-direction: row;
    }

    .skill-container {
        width: 50%;
        margin-left: 40px;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .education-title {
        padding: 0 0 0 30px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar a {
        margin: 10px 0;
    }

    .home {
        max-width: 100%;
        margin-top: 160px;
        margin-bottom: 180px;
    }

    .home-content {
        max-width: 100%;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about-img img {
        width: 100%;
    }

    .about-text {
        text-align: center;
    }

    .container-one {
        flex-direction: column;
    }

    .skill-container {
        width: 100%;
        margin-left: 0;
    }


    .project-container {
        grid-template-columns: 1fr;
    }

    .contact {
        grid-template-columns: 1fr;
    }

    .main {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .edu-content {
        width: 100%;
    }

    .education-box {
        width: 100%;
    }

    .education-title {
        padding: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 426px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar a {
        margin: 10px 0;
    }

    .home {
        max-width: 100%;
        margin-top: 130px;
        margin-bottom: 140px;
    }

    .home-content {
        max-width: 100%;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about-img img {
        width: 100%;
    }

    .about-text {
        text-align: center;
    }

    .container-one {
        flex-direction: column;
    }

    .skill-container {
        width: 100%;
        margin-left: 0;
    }


    .project-container {
        grid-template-columns: 1fr;
    }

    .contact {
        grid-template-columns: 1fr;
    }

    .main {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .edu-content {
        width: 100%;
    }

    .education-box {
        width: 100%;
    }

    .education-title {
        padding: 0;
    }
}


@media only screen and (min-width: 426px) and (max-width: 769px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar a {
        margin: 10px 0;
    }
    .about {
        grid-template-columns: 1fr;
    }

    .about-img img {
        width: 100%;
    }

    .about-text {
        text-align: center;
    }

    .container-one {
       flex-direction: row;
    }

    .skill-container {
        width: 100%;
        margin-left: 0;
    }

    .project-container {
        grid-template-columns: 1fr;
    }

    .education-title {
        padding: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1020px) {
    .container {
        padding-right: 10%;
    }

    .navbar {
        flex-direction: row;
    }

    .navbar a {
        margin: 0 36px;
    }

    .about {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-one {
        flex-direction: row;
    }

    .skill-container {
        width: 50%;
        margin-left: 40px;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .education-title {
        padding: 0 0 0 30px;
    }
}